body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.customer-list-item .field{
  width: 160px;
  margin: 1px;
  padding: 4px;
  background: #eee;
  display: inline-block;
}

.appFrame{
  width: 90vw;
  margin:20px auto;
  padding: 50px 10px;
  background: #FFF;
  box-shadow: 1px 1px 2px 1px  #666;
}

button{
  padding: 5px 10px;
  margin-top: 15px;
}

@media(min-width: 768px){
  .appFrame{
    width: 75vw;
    max-width: 800px;
  }
}
